a:link{
    color:teal;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
    background:lightblue;
    color:crimson;
}
a:visited{
    color:hotpink;
    text-decoration:line-through red;
}
a:active{
    color:navy;
}